@page
@model Web_UI.Pages.Admin.News.IndexModel
@{
    Layout = "_Layout";
}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <ul role="tablist" class="card-header">
                        <p href="#tab-20" data-toggle="tab" class="card-header text-center">مدیریت اخبار </p>

                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content pt-0">
                        <div role="tabpanel" id="tab-20" class="tab-pane show active">
                            <div class="container">
                                <div class="row">
                                    <div class="col-2 mb-4">
                                        <a class="btn btn-success mt-3" asp-page="Add">افزودن خبر</a>
                                    </div>
                                    <div class="col-10">
                                        @if (Model.Contents.Count < 1)
                                        {
                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                شما هیچ دسته بندی نساختید
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        }
                                        @if (HttpContext.Request.Query["result"] == "success")
                                        {
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                عملیات با موفقیت انجام شد
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        }
                                        else if (HttpContext.Request.Query["result"] == "fail")
                                        {
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                عملیات با شکست رو به رو شد
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        }
                                        @if (Model.Contents != null)
                                        {
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>ردیف</th>
                                                        <th>نام خبر</th>
                                                        <th>تاریخ خبر</th>
                                                        <th>اعمال قابل انجام</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int counter = 1;
                                                    }
                                                    @foreach (var item in Model.Contents)
                                                    {
                                                        <tr>
                                                            <td>@counter</td>
                                                            <td>@item.Title</td>
                                                            <td>@item.ReleaseDate</td>
                                                            <td>
                                                                <a class="btn btn-warning" asp-page="Update" asp-route-ID="@item.ID">ویرایش</a>
                                                                <a class="btn btn-danger" asp-page="Remove" asp-route-ID="@item.ID">حذف</a>
                                                            </td>
                                                        </tr>
                                                        counter++;
                                                    }

                                                </tbody >
                                            </table>
                                        }

                                        <ul class="pagination justify-content-center" style="margin:20px 0">
                                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
